<footer class="bg-dark text-white pt-5 pb-4">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <h5 class="text-uppercase mb-4">About Us</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet nulla auctor, vestibulum magna sed, convallis ex.</p>
        </div>
        <div class="col-md-3">
          <h5 class="text-uppercase mb-4">Quick Links</h5>
          <ul class="list-unstyled">
            <li><a routerLink="/home" class="text-white">Home</a></li>
            <li><a routerLink="/cart" class="text-white">Cart</a></li>
            <li><a routerLink="/products" class="text-white">Products</a></li>
            <li><a routerLink="/brands" class="text-white">Brands</a></li>
            <li><a routerLink="/categories" class="text-white">Categories</a></li>
            <li><a routerLink="/wish-list" class="text-white">Wish List</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h5 class="text-uppercase mb-4">Social Media</h5>
          <ul class="list-unstyled">
            <li><a routerLink="/home" class="text-white"><i class="fab fa-facebook-f"></i> Facebook</a></li>
            <li><a routerLink="/home" class="text-white"><i class="fab fa-twitter"></i> Twitter</a></li>
            <li><a routerLink="/home" class="text-white"><i class="fab fa-instagram"></i> Instagram</a></li>
          </ul>
        </div>
        <div class="col-md-3">
            <h5 class="text-uppercase mb-4">Social Media</h5>
            <ul class="list-unstyled">
              <li><a href="https://www.facebook.com" target="_blank" class="text-white"><i class="fab fa-facebook-f"></i> Facebook</a></li>
              <li><a href="https://www.twitter.com" target="_blank" class="text-white"><i class="fab fa-twitter"></i> Twitter</a></li>
              <li><a href="https://www.instagram.com" target="_blank" class="text-white"><i class="fab fa-instagram"></i> Instagram</a></li>
            </ul>
          </div>
      </div>
    </div>
    <div class="text-center mt-4">
      <p>&copy; 2024 Ecommerce Website. All rights reserved.</p>
    </div>
  </footer>