<section id="forgetPasswordForm">
    <div class="container py-5">
        @if(errMsg){
        <div class="alert alert-danger">{{errMsg}}</div>
        }
        @if(successMsg){
            <div class="alert alert-success">{{successMsg}}</div>
            }
        @if (steps==1) {<h1 class="text-main">Forget Password : </h1>
        <form [formGroup]="forgetPasswordForm" (ngSubmit)="sendData()" class="my-3">
            <div class="row justify-content-center gy-4">

                <div class="col-md-8">
                    <label for="user-email">Email :</label>
                    <input type="email" class="form-control" id="user-email" formControlName="email" />
                    @if(forgetPasswordForm.get('email')?.errors && forgetPasswordForm.get('email')?.touched){
                    <div>
                        @if(forgetPasswordForm.get('email')?.errors?.['required']){
                        <p class="text-danger">Email is Required</p>
                        }
                        @if(forgetPasswordForm.get('email')?.errors?.['email']){
                        <p class="text-danger">Enter a valid email</p>
                        }
                    </div>
                    }
                </div>
            </div>
            <div>
                <button type="submit" class="btn bg-main text-light float-end">
                    Send Code
                    @if(isLoading){
                    <i class="fa-solid fa-spinner fa-spin"></i>
                    }
                </button>
            </div>
        </form>}
        @else if (steps==2) {
        <h1 class="text-main">Verify Reset Code: </h1>
        <form [formGroup]="verifyCode" (ngSubmit)="verifyResetCode()" class="my-3">
            <div class="row justify-content-center gy-4">

                <div class="col-md-8">
                    <label for="code">Code :</label>
                    <input type="code" class="form-control" id="code" formControlName="resetCode" />
                </div>
            </div>
            <div>
                <button type="submit" class="btn bg-main text-light float-end">
                    Verify Code
                    @if(isLoading){
                    <i class="fa-solid fa-spinner fa-spin"></i>
                    }
                </button>
            </div>
        </form>}
        @else if (steps==3) {<h1 class="text-main">Enter New Password:</h1>
        <form [formGroup]="resetPassword" (ngSubmit)="resetNewPassword()" class="my-3">
            <div class="row justify-content-center gy-4">

                <div class="col-md-8">
                    <label for="user-email">Email :</label>
                    <input type="email" class="form-control" id="user-email" formControlName="email" />
                    @if(resetPassword.get('email')?.errors && resetPassword.get('email')?.touched){
                    <div>
                        @if(resetPassword.get('email')?.errors?.['required']){
                        <p class="text-danger">Email is Required</p>
                        }
                        @if(resetPassword.get('email')?.errors?.['email']){
                        <p class="text-danger">Enter a valid email</p>
                        }
                    </div>
                    }
                </div>
                <div class="col-md-8">
                    <label for="user-Password">New Password :</label>
                    <input type="" class="form-control" formControlName="newPassword" id="user-Password" />
                    @if(resetPassword.get('password')?.errors && resetPassword.get('password')?.touched){
                    <div>
                        @if(resetPassword.get('password')?.errors?.['required']){
                        <p class="text-danger">password is Required</p>
                        }
                        @if(resetPassword.get('password')?.errors?.['pattern']){
                        <p class="text-danger">Enter a valid password</p>
                        }
                    </div>
                    }
                </div>
            </div>
            <div>
                <button type="submit" class="btn bg-main text-light float-end">
                    Change Password
                    @if(isLoading){
                    <i class="fa-solid fa-spinner fa-spin"></i>
                    }
                </button>
            </div>
        </form>}


    </div>

</section>